body {
    font-family: "Open Sans", Helvetica, sans-serif;
    color: #fff;
    font-size: 16px;
    line-height: 1.42;
    background: #001821;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Шапка */
a {
    color: inherit;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}

* {
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: 1138px;
}

.main-page-wrapper {
    background: url("../images/main_img/1.jpg") center top no-repeat, 
    url("../images/main_img/2.jpg") center bottom no-repeat;
    /* box-shadow: inset 0 0 80px 100px #001821; */
}

.header__container {
    height: 124px;
    position: relative;
    margin-bottom: 75px;
}

.logo__pic {
    display: block;
    position: absolute;
    top: 29px;
    left: 0;
}

.menu {
    position: absolute;
    top: 39px;
    left: 165px;
}

.contacts {
    position: absolute;
    top: 27px;
    right: 0;
    font-style: normal;
    text-align: right;
}

.contacts__call{
    color: #9a9a9a;
    font-size: 11px;
}

.menu__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 50px;
}

.menu__item:last-child {
    margin-right: 0;
}

.menu__link {
    font-size: 14px;
    text-decoration: none;
}

.menu__link:hover {
    color: #DA0100;
}

.contacts__phone {
    text-decoration: none;
    font-size: 26px;
}

.contacts__info {
    font-size: 13px;
    text-decoration: underline;
    margin-top: -8px;
}
/* /Шапка */
/* Приветственное меню */
.hello {
    margin-bottom: 246px;
}

.hello__container {
    width: 520px;
    text-align: left;
}

.hello__title {
    font-size: 72px;
    font-weight: bold;
    line-height: 1.35;
    margin-bottom: 26px;
}

.hello__subtitle {
    font-size: 18px;
    margin-bottom: 29px;
}

.button {
    background: #f5170e;
    border-radius: 35px;
    padding: 17px 40px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    text-align: center;
}
/* /приветственное меню */
/* Горящие туры */
.offers {
    margin-bottom: 125px;
}

.title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 50px;
    background: center left 287px no-repeat;
}

.title--fire {
    background-image: url("../images/png_img/flame.png") ;
}

.offers__item {
    min-height: 450px; 
    width: 361px;
    background: #fff; 
    border-radius: 5px;
    display: inline-block;
    margin-right: 23px;
}

.offers__item:last-child {
    margin-right: 0;
}

.offers__img {
    min-height: 144px;
    border-radius: 5px;
}

.offers__content {
    padding: 26px 8px 26px 22px;
    color: #000;
}

.offers__title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 21px;
}

.offers__feature {
    display: inline-block;
    vertical-align: top;
    width: 125px;
    margin-right: 30px;
    margin-bottom: 37px;
    position: relative;
}

.offers__feature:last-child {
    margin-right: 0;
}

.offers__feature-icon {
    position: absolute;
    top: 0;
    left: 2px;
}

.offers__feature-text {
    margin-left: 30px;
    color: #666;
    position: absolute;
    top: 2px;
    left: 9px;
}

.offers__text {
    color: #303030;
    margin-bottom: 24px;
    font-size: 14px;
    line-height: 1.5;
}

.button--light {
    background: #fff;
    color: #f5170e;
    border: 1px Solid #f5170e; 
    width: 135px;
    height: 55px;
    padding: 17px 30px;
}
.button--light:hover {
    background: #f5170e;
    color: #fff;
}
/* /Горящие туры */
/* Новвости и акции */
.news__list {
    margin-bottom: 54px;
}

.news__item {
    width: 555px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 23px;
}

.news__item:last-child {
    margin-right: 0;
}

.news__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news__content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 25px 28px;
    min-height: 145px;
}

.news__date {
    font-size: 14px;
    margin-bottom: -4px;
}

.news__title {
    font-size: 24px;
    margin-bottom: -7px;
    font-weight: bold;
}

.news__text {
    font-size: 16px;
    line-height: 1.42;
    margin-top: 10px;
    margin-bottom: 0px;
}
/* Пагинатор */
.paginator {
    text-align: center;
    margin-bottom: 145px;
}

.paginator__display,.paginator__list {
    display: inline-block;
    vertical-align: middle;
}

.paginator__display {
    margin-right: 20px;
}

.paginator__item {
    display: inline-block;
    vertical-align: middle;
}


.paginator__item--active .paginator__link {
    background: #fff;
    color: #f5170e
}


.paginator__link {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    text-decoration: none;
    font-weight: bold;
    line-height: 32px;
}

.paginator__link:hover {
    background: #fff;
    color: #f5170e;
}
/* О нас */

.about {
    margin-bottom: 115px;
}

.about__container{
    position: relative;
}

.about__img {
    border-radius: 5px;
}

.about__desc {
    position: absolute;
    display: inline-block;
    top: 98px;
    left: 352px;
}

.about__content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 72px 81px;
    min-height: 200px;
}

.title--dark {
    color: #000;
    font-size: 36px;
    margin-bottom: 40px;
}

.about__text {
    color: #060606;
    font-size: 16px;
    margin-bottom: 46px;
    padding-right: 122px;
    line-height: 1.63;
}
/*/О нас */
/* Футер */
.footer {
    margin-top: 10px;
    height: 122px;
    position: relative;
}

.footer__container {
    border-top: 1px solid #243b43;
    position: relative;
}

.social {
    position: absolute;
    top:33px;
    right: 255px;  
}

.social__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.social__item:last-child {
    margin-right: 0;
}

.social__link {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
}
